

<table id="qty">
<thead>
    <th>Seller</th>
    <th>qty</th>
</thead>
<tbody>
    <% @inventory.each do |inv| %>
        <tr>
            <td><%= User.where(id:inv[0]).first.name %></td>
            <td><%= inv[1] %></td>
        </tr>
    <%end%>
</tbody>
</table>

<table id="price">
<thead>
    <th>Seller</th>
    <th>Income</th>
</thead>
<tbody>
    <% @inventory2.each do |inv| %>
        <tr>
            <td><%= User.where(id:inv[0]).first.name %></td>
            <td><%= inv[1] %></td>
        </tr>
    <%end%>
</tbody>
</table>

<script>
$(document).ready(function () {
            $('#qty,#price').DataTable({
                order: [[1, 'desc']],
            })
});
</script>
<form method="get" action="/main" class="button_to">
    <div><input value="Back" type="submit" /></div>
</form>