<h1>Editing market</h1>

<%= render "form", market: @market %>

<br>
<%= link_to "Back to my inventory", '/my_inventory' %>
<div>
  
  <%= link_to "Show this market", @market %> |
  <%= link_to "Back to markets", markets_path %>
</div>
